<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
   
<display-name>UploadServletApp</display-name>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>knt.exceedvote.system.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/jsp/UploadServlet</url-pattern>
  </servlet-mapping>
	
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>

        
        <url-pattern>/filestore/*</url-pattern>
        
    </servlet-mapping>
    
    
        <servlet>
        <servlet-name>default1</servlet-name>
        <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>default1</servlet-name>

        
        <url-pattern>/jsp/lang/*</url-pattern>
        
    </servlet-mapping>
   
   
  <servlet>
    <servlet-name>exceed</servlet-name>
    <servlet-class>knt.exceedvote.system.Controller</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>exceed</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
 	
<security-constraint>
    <web-resource-collection>
        <web-resource-name>exceed</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>
 
      <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>